$font-stack: 'Arial', sans-serif;

/* Material Colors */
$gray50: #FAFAFA;
$gray100: #F5F5F5;
$gray200: #EEEEEE;
$gray300: #E0E0E0;
$gray400: #BDBDBD;
$gray500: #9E9E9E;
$gray600: #757575;
$gray700: #616161;
$gray800: #424242;
$gray900: #212121;

$blueA100: #82B1FF;
$blueA200: #448AFF;
$blueA400: #2979FF;
$blueA700: #2962FF;
$blue50: #E3F2FD;
$blue100: #BBDEFB;
$blue200: #90CAF9;
$blue300: #64B5F6;
$blue400: #42A5F5;
$blue500: #2196F3;
$blue600: #1E88E5;
$blue700: #1976D2;
$blue800: #1565C0;
$blue900: #0D47A1;

/* Common Mixins */
@mixin flex {
    display: flex;
}

@mixin flex-column {
    flex-direction: column;
}

@mixin margin($margin) {
    margin: $margin;
}

@mixin height($height) {
    height: $height;
}

@mixin full-height {
    @include height(100%);
}

@mixin border($color) {
    border: 1px solid $color;
}
