@import 'mixins';

.route {
    background: url("http://mappinglondon.co.uk/wp-content/uploads/2011/12/ucl_map1.png");
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid white;
    border-radius: 1em;
    width: 60%;
    margin: auto;
    margin-top: 2%;
    text-align: center;
}

.route h2 {
    padding-top: 10px;
    padding-bottom: 15px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.route .routesP {
    background: rgba(255, 255, 255, 0.8);
    text-shadow: none;
    color: black;
    width: 100%;
    font-size: 20px;
    padding-top: 5%;
    padding-bottom: 5%;
}

.flippy-container {
    margin: auto;
    width: 100%;
}

.flippy-front,
.flippy-back {
    width: 400px;
    height: 400px;
}

.featured-grid {
    width: 60%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.left {
    grid-column-start: 1;
}

.right {
    grid-column-start: 2;
    margin: auto;
}

.go-btn {
    margin-top: 70%;
    width: 30%;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    font-family: 'Raleway', sans-serif;
    display: block;
    width: 165px;
    padding: 10px 20px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    font-size: 23px;
    font-weight: 400;
    text-align: center;
    border: 1px solid white;
    border-radius: 1em;
}